
h1{
    margin: auto;
    text-align: center;
    border-bottom: solid 1px grey;
}
div#menu ul{
    list-style: none;
    padding: 0;
}
div#menu ul li a{
    display: inline-block;
    width: 300px;
    padding: 10px;
    background-color: #ffcc00;
    text-decoration: none;
    border: solid 1px black;
    color: black;
}
div#menu ul li a:hover{
    color: #ffcc00;
    background-color: #666666;
}